extends layouts/_layout
block title
	title riot-dev
block prepend body
	main
		ul
			li
				a(href="/") home
			li
				a(href="#test1") test1
			li
				a(href="#test2") test2
		route
		testform
		application




