app
    .container
        ul.row
            li
                a(href='#') Dashboard
            li
                a(href='#/company') Company
            li
                a(href='#/users') Users
            li
                a(href='#/gallery') Gallery
            route




