testform
	form(name='{ form.name }', onsubmit='{ doSomething }')
		rf-text-input(model='{ form.inputs.username }', autofocus='')
			rf-textarea-input(model='{ form.inputs.profile }')
				input(type='submit', value='Save')
	.output
		| Username:
		span.username { form.model.username }
		| Profile:
		span.profile { form.model.profile }
	script.
		var riotForm = require('riot-form');
		this.form = new riotForm.Form.Builder('simple')
				.addInput({name: 'username', type: 'text'})
				.addInput({name: 'profile', type: 'textarea'})
				.setModel({username: 'Daniel', profile: 'My name is Daniel'})
				.build();
		this.doSomething = function () {
			console.log(this.form.model);
		}.bind(this);
		this.form.on('change', () => this.update())




